.card-products{
    background-color: #ebad6f9c;
    display: flex;
gap: 20%;
font-size: 1rem;
font-weight: 600;
border: 1px black solid;
padding-left: 1%;

}

.card-products p{
    width: 20%;
    color: white;
}



