.card-top {
    width: 100%;
    border: 3px;
}

.cardimg {
    height: 12rem;
    width: 60%;
    object-fit: cover;
    margin: auto;
    border-radius: 5px;
    cursor:pointer;
}

.textcard{
    text-align: center;
    color: white;
    font-size: 1.3rem;
}

.titulo-productos {
    color: #ebae6f;
    font-size: 2.3rem;
    text-align: center;
    margin: 3rem;
}

.app {
    padding-top: 5% ;
    width: 96vw;
padding-bottom:10% ;
}

.cardimg:hover{
    filter: contrast(150%);
    transform: scale(105%);
    transition: all 0.5s ;
}

.boton{
    font-size: 1.3rem;
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 4px;
display: block;
margin: auto
}

@media screen and (max-width: 1024px) {
    .cardimg{
        width: 50%;
        height: 10rem;
    }

    .cardimg:hover{
        filter: contrast(150%);
        transform: scale(105%);
        transition: all 0.5s ;
    }
}

@media screen and (max-width: 575px) {
    .container{
        width: 100%;
    }
}