.title-servicios{
    text-decoration-color: #ebae6f;
    color: #ebae6f;
    font-size: 2.3rem;
    text-align: center;
    margin: 2rem;
}

.container-servicios{
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-around;
}

.icon-serv{
    width: 5rem;
    height: auto;
}

.container-icon{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
}

.servicios{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}