.inicio-text {
    color: #ebae6f;
    text-shadow: 1px 1px 1px black;

}

.boton {
    color: #ebae6f;
    border: 2px solid #ebae6f;
}

.boton:hover {
    background-color: #ebae6f;
    color: white;
}

.logoinicio {
    width: 20%;

}

.logoinicio:hover {
    animation-name: girar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.contenedorinicio {
    display: flex;
    align-items: center;
    width: 70%;
    gap: 10%;
}



.inicio {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}


.inicio-text {
    font-size: 2rem;

}

.inicio-button {
    font-size: 1.4rem;
    font-weight: bolder;
    background-color: white;
    border-radius: 4px;
    padding-left: 1em;
    padding-right: 1em;
    color: #ebae6f;
    border: 2px solid #ebae6f;
}

.inicio-button:hover {
    background-color: #ebae6f;
    color: white;
}

.inicio-title {
    color: #ebae6f;
    text-shadow: 1px 2px 3px black;
    text-align: center;
    z-index: 10;
    font-size: 4rem;
}


@media screen and (max-width: 1024px) {
    .inicio-text {
        font-size: 150%;
    }

    .inicio-button {
        font-size: 1rem;
        border: 1px;
    }

    .inicio-title {
        font-size: 300%;
    }
}

@media screen and (max-width: 766px) {
    .inicio-text {
        font-size: 100%;
    }

    .inicio-button {
        font-size: 1rem;
        border: 1px;
    }

    .inicio-title {
        font-size: 200%;
    }
}

@media screen and (max-width: 575px) {
    .inicio-text {
        display: none;
    }

    .inicio-button {
        font-size: 0.8rem;
        border: 1px;
    }

    .inicio-title {
        font-size: 150%;
    }

    .logoinicio {
        width: 50%;
        display: block;
        margin: auto;
        padding-bottom: 5%;
    }
}


@keyframes girar {
    0% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);

    }

    50% {
        -webkit-transform: rotateY(180deg);
        -webkit-transform-style: preserve-3d;
        transform: rotateY(180deg);
        transform-style: preserve-3d;
    }

    100% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);

    }
}