.naavbar {
    background-color: #ebae6f;
    padding: 0px;
    font-size: 1.4rem;
    width: 100%;
    z-index: 40;
    transition: all 1s  ;
    box-shadow: 2px 2px 2px black;
}



.navbar-scrolled{
position: fixed;
transition: all 1s  ;

}

.logo-scrolled{
    width: 4rem;
    transition: all 1s  ;

}

.logo {
    width: 8rem;
transition: all 1s;

}

.nav-link {
    color: white;
}