.footer-container{
    height: 10em;
    margin-top: 2.5rem;
    background-color: orange;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.socials-container{
    display: flex;
    gap: 2.5rem;
}

.icon{
    height: 2.5em;
}

.text-icon{
    color: white;
    
}