.footer-container{
    margin-top: 2.5rem;
    background-color: #ebae6f;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}

.socials-container{
    display: flex;
    gap: 2.5rem;
}

.icon{
    height: 2.5em;
}

.text-icon{
    color: white;
    
}

.footerredes{
    display: flex;
align-items: center;
text-align: center;
justify-content: space-around;
gap: 3rem;
width: 100vw;
}

.redestext{
    font-size: 1.5rem;
}

@media screen and (max-width: 1024px) {
    .redestext{
        font-size: 1.2rem;
    }
}


@media screen and (max-width:766px) {
    .redestext{
        font-size: 1.5rem;
    }

    .title-footer{
display: none;
    }

    .footerredes{
        display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    }
}

@media screen and (max-width:575px) {
    .footer-container{
        display: none;
    }
}