.text-contact{
    color: white;
    font-size: 2.5rem;
    text-align: center;
    text-decoration: underline;
}

.container-form{
color: white;
justify-content: center;
display: flex;
margin-top: 3rem;
}

.container-form-text {
    display: flex;
    flex-direction: column;
    width:40rem;
    font-size: 1.1rem;
    border: 3px solid orange;
    padding: 2rem;
}

.etiqueta-form{
    display: flex;
justify-content: space-between;
}

input{
    width: 50%;
}

textarea{
    font-weight: bold;
    width: 100%;
}

.boton-form:hover{
background-color: orange;
}